/******* font-sizes *******/

.fontsize-1 {
  font-size: 1.3rem;
}

.fontsize-2 {
  font-size: 2rem;
}

.fontsize-3 {
  font-size: 3rem;
}

.fontsize-4 {
  font-size: 4rem;
}

.fontsize-5 {
  font-size: 5rem;
}

.fontsize-6 {
  font-size: 6rem;
}
