// Sass variables 

/* variable colors  */
$color-one: #3498db;
$color-two: #2980b9;
$color-three: #1abc9c;
$color-four: #16a085;
$color-five: #2ecc71;
$white-color: #fff;

//*********Background Colors*********

.bg-1 {
  background: $color-one;
}
