/******* CSS Custom framework *******/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

/******* FLex and Grid *******/
.flex {
  display: flex;
}

.grid {
  display: grid;
}
