/* CSS Custom framework */
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
  }
  
  /* FLex and Grid */
  .flex {
    display: flex;
  }
  
  .grid {
    display: grid;
  }
  
  /* Colors */
  .text-white {
    color: var(--white-color);
  }
  
  .color-one {
    color: var(--color-one);
  }
  
  .color-two {
    color: var(--color-two);
  }
  
  .color-three {
    color: var(--color-three);
  }
  
  .color-four {
    color: var(--color-four);
  }
  
  .color-5 {
    color: var(--color-five);
  }
  
  /* Background-Colors */
  
  .bg-color-one {
    background: var(--color-one);
  }
  
  .bg-color-two {
    background: var(--color-two);
  }
  .bg-color-three {
    background: var(--color-three);
  }
  .bg-color-four {
    background: var(--color-four);
  }
  .bg-color-five {
    background: var(--color-five);
  }
  